/* Default styles for larger screens */
.navbar {
    background: linear-gradient(90deg, #4e2a8e 0%, #007ea1 90%);
    height: 5rem;
    width: 100%;
    
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 16rem; 
    width: 26rem; 
    object-fit: cover;
    
}

.logoMob{
    object-fit: cover;
    height: 8rem; 
    width: 8rem; 
    object-fit: cover;
    display: none;

}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.desktopMenuListItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0,0,20);
    transform-origin: bottom left;
    transition: transform 0.5s ease, width 0.5s ease, opacity 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
}

.desktopMenuListItem:hover::before {
    width: 100%;
    transform: scaleY(1);
    opacity: 2;
    
}

.desktopMenuListItem:hover {
    color: rgb(0, 0, 20);
    padding-bottom: 0.5rem;
    box-shadow: 0 4px 8px rgba(97, 1, 187,);
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}


.active{
    padding: 0.5rem;
    border-bottom: 3px sol 0.5rem;
}

.mobMenu {
  width: 3rem;
  display: none;
  object-fit: cover;
  height: 1.8rem;
  color: #007ea1;
  }

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: linear-gradient(90deg, #4e2a8e 0%, #007ea1 90%);

    border-radius: 1rem;
    justify-content: center;
}

.listItem{
    color: whiter;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.25rem;
}
    


@media screen and (max-width: 1221px){
    .mobMenu{
        display: flex;

    }

    .desktopMenu{
        display: none;
    }

    .desktopMenuBtn{
        display: none;
    }
    .logoMob{
        display: flex;
    } 
    .logo{
        display: none;
    }
    
}

@media screen and (min-width: 926px){
    .navbar{
        max-width: 100rem;

    }
}

@media screen and (min-width: 2550px){
   .logoMob{
    display: none;
   }
}